/* GLOBAL ************************************************/

#main-index {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 800px;
	@include index1-up {
		max-width: $index1;
	}
	padding: 5rem 1rem;
	font-size: $sm;
	@include bp2-up {
		padding: 10rem 1rem;
		font-size: $sb;
	}
	a, a:hover, a:focus, a:active {
		text-decoration: none;
	}
}

.index-block {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@include index1-up {
		margin-top: 15rem;
		flex-direction: row;
	}
}

.index-img {
	width: 100%;
	border-radius: 0.4rem;
	@include index1-down {
		margin-top: 5rem;
		margin-right: 0;
		margin-left: 0;
	}
}

.index-title {
	font-size: 2.5rem;
	margin-bottom: 2rem;
	@include index1-up {
		font-size: 2.2rem;
		margin-bottom: 2.2rem;
	}
	opacity: 0.35;
	font-weight: $wbold;
}

.index1-down-hide {
	display: none;
	@include index1-up {
		display: initial;
	}
}


/* START ************************************************/

#index-start {
	#logo {
		width: 80%;
		max-width: 39rem;
	}
	#name {
		font-size: 11.25vw;
		margin-top: -1.5vw;
		@media (min-width: 430px) {
			font-size: 6rem;
			margin-top: -1rem;
		}
	}
	#occupation {
		font-weight: $wbold;
		font-size: 7.5vw;
		margin-top: -1.5vw;
		@media (min-width: 430px) {
			font-size: 4rem;
			margin-top: -1rem;
		}
	}
	#slogan {
		font-style: italic;
		font-size: 4.1vw;
		@media (min-width: 430px) {
			font-size: 2.2rem;
		}
	}
}

.index-scroll {
	margin-top: 7rem;
	margin-bottom: 2rem;
	font-size: 3.5rem;
	opacity: 0.3;
	font-weight: $wbold;
	@include index1-up {
		display: none;
	}
}

/* MISSION ************************************************/

#index-mission {
	@include index1-up {
		align-self: center;
		}
	#mission-txt {
		font-size: 2rem;
		em, strong {
			color : $green;
		}
		div {
			margin-top: 1rem;
		}
		div:first-child {
			margin-top: 0;
		}
		@include index1-up {
			order: 2;
			text-align: left;
			margin-left: 3rem;
		}
		@media (max-width: 355px) {
			br {
				display: none;
			}
		}
	}
	#mission-img {
		max-width: 325px;
	}
}


/* SERVICES ************************************************/

#index-services {
	@include index1-up {
		align-self: center;
		margin-right: 30px
		}
	#services-txt {
		font-size: 2.7rem;
		line-height: 1.1;
		em, strong {
			color: $blue;
		}
		div {
			margin-top: 1.6rem;
		}
		div:first-child {
			margin-top: 0;
		}
		@include index1-up {
			text-align: right;
			margin-right: 3rem;
		}
		@media (min-width: 391px) {
			.br-hide {
				display: none;
			}
		}
	}
	#services-img {
		max-width: 550px;
	}
}


/* DOMAINES ************************************************/

#index-domaines {
	@include index1-up {
		align-self: center;
		}
	#domaines-txt {
		font-size: 2rem;
		line-height: 1.1;
		em, strong {
			color: $green;
		}
		div {
			margin-top: 1rem;
		}
		div:first-child {
			margin-top: 0;
		}
		@include index1-up {
			text-align: left;
			order: 2;
			margin-left: 3rem;
		}
		@media (min-width: 454px) {
			.br-hide {
				display: none;
			}
		}
	}
	#domaines-img {
		max-width: 380px;
	}
}


/* QUISUISJE ************************************************/

#index-portrait {
	#portrait-txt {
		font-size: 2rem;
		strong, em {
			color: $blue;
		}
		div {
			margin-top: 1rem;
		}
		div:first-child {
			margin-top: 0;
		}
		@include index1-up {
			text-align: right;
			margin-right: 3rem;
		}
		@media (max-width: 489px) {
			br {
				display: none;
			}
		}
	}
	#portrait-img {
		max-width: 285px;
	}
}


/* PLUS ************************************************/

#index-plus {
	margin-top: 5rem;
	@include index1-up {
		margin-top: 15rem;
	}
	#plus-title {
		font-size: 2.7rem;
		margin-bottom: 1rem;
	}
	#index-nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include bp2-down {
			 max-width: 350px;
		 }
		@include bp2-up {
			 max-width: 450px;
		}
		a {
			margin: 0.5rem;
			color: $white;
			background-color: $green;
			border-radius: 0.3rem;
			padding: 0.8rem 1.2rem 0.8rem 1.2rem;
		}
		a:hover, a:focus, a:active {
			background-color: $cbabg;
			color: $cbatext;
			text-decoration: none;
		}
	}
}
