
/* INDIVIDUS ************************************************/

#pourqui-thematiques {
	margin-top: -1rem;
}

#approche {
	strong {
		font-weight: 300;
		background-color: $red;
		color: $white;
		padding: 0rem 0.3rem;
		border-radius: 0.2rem;
	}
}

/* ORGANISATIONS ************************************************/

#thematiques {
	strong {
		font-weight: 300;
		background-color: $red;
		color: $white;
		padding: 0rem 0.3rem;
		border-radius: 0.2rem;
	}
}


/* EVENEMENTS ************************************************/

#evenements-avenir {
	p {
		font-style: italic;
	}
	strong {
		font-weight: 300;
		font-style: normal;
		text-transform: uppercase;
		background-color: $red;
		color: $white;
		padding: 0rem 0.3rem;
		border-radius: 0.2rem;
	}
}


#evenements-passes {
	p {
		font-style: italic;
	}
	strong {
		font-weight: 300;
		font-style: normal;
		text-transform: uppercase;
		background-color: $green;
		color: $white;
		padding: 0rem 0.3rem;
		border-radius: 0.2rem;
	}
}


/* QUI SUIS-JE ? ************************************************/

#qui-img {
	max-width: 450px;
}


/* TEMOIGNAGES ************************************************/

.temoignage-div {
	margin-top: 3rem;
	font-style: italic;
}
